$grey-light: #f2f2f2;
$grey-dark: #e1e1e1;

$blue-light: #524fd6;
$blue-dark: #06038d;
$blue-dark-total:#040267;

$pink-light: #d74da5;
$pink-dark: #c6007e;
$pink-hover: #74004a;

$white: #fff;

$font: #343434;
$font-grey: #919191;
$background: #f2f2f2;
