.discount-club {
    grid-area: discount-club;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    @include margin(0, 0, 21px, 0);
    @include padding(32px, 17px, 32px, 20px);
    @include border-radius(3px);
    &__inner {
        display: flex;
        align-items: center;
    }
    &__cta {
        border: 2px solid $pink-dark;
        color: $pink-dark;
        background: transparent;
        font-weight: 900;
        @include text-transform(y);
        @include padding(18px, 56px, 18px, 56px);
        @include margin(0, 15px, 0, 0);
        @include border-radius(3px);
        transition: all .18s ease-in;
        font-size: $small;
        &:hover {
            background-color: $pink-dark;
            color: $white;
        }
    }
    &__details {
        display: flex;
        flex-direction: column;
        color: $font;
        font-size: $small;
        @include margin(0, 0, 0, 15px);
        &__on-flight {
            @include margin(0, 0, 12px, 0);
        }
    }
    &__read-more-link {
        color: $pink-dark;
        @include text-transform(y);
        font-size: $extra-small;
        font-weight: 900;
        letter-spacing: .1px;
        transition: all .24s ease-in;
        &:hover {
            color: $pink-hover;
            transform: scale(1.1);
        }
    }
}
