.flight-info {
    grid-area: flight-info;
    background-color: $white;
    @include border-radius(3px);
    &__header {
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $grey-dark;
    }
    &__flight-type {
        flex: 1;
        color: $font-grey;
        font-size: $normal;
        font-weight: 900;
        @include padding(0,
        0,
        0,
        30px);
        @include text-transform(y);
    }
    &__flight-details {
        font-weight: 600;
        color: $blue-dark;
        font-size: $extra-large;
        flex: 3;
        &__origin,
        &__destination {
            text-transform: capitalize;
        }
    }
    &__flight-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include padding(18px,
        20px,
        18px,
        20px);
        &__inner {
            display: flex;
            align-items: center;
        }
        &__date {
            font-size: $extra-small;
            color: $font-grey;
            font-weight: 700;
            @include text-transform(y);
        }
        &__current-date {
            font-size: $medium;
            color: $font;
            text-transform: capitalize;
        }
        &__icon {
            &--previous {
                @include margin(0,
                20px,
                0,
                0);
            }
            &--next {
                @include margin(0,
                0,
                0,
                20px);
            }
        }
    }
    .flight-package-types {
        display: grid;
        grid-template-columns:repeat(4,1fr);
        border-top: 1px solid $grey-light;
        .flight-schedule {
            grid-column: 1 / 2;
            grid-row-start: 2;
            &__time {
                display: flex;
                justify-content: center;
                @include margin(0,
                0,
                40px,
                0);
                @include padding(20px,
                0,
                20px,
                0);
                &-text {
                    font-size: $normal;
                }
                &-icon {
                    @include margin(0,
                    5px,
                    0,
                    5px);
                }
            }
        }
        .flight-package-title {
            color: $font;
            font-size: $extra-small;
            font-weight: 700;
            text-align: center;
            @include text-transform(y);
            @include margin(0,
            0,
            0,
            0);
            @include padding(22px,
            0,
            20px,
            0);
            &--basic {
                grid-column: 2 / 3;
            }
            &--standard {
                grid-column: 3 / 4;
                background-color: $grey-light;
            }
            &--plus {
                grid-column: 4 / 5;
            }
        }
        .flight-package-prices {
            @include padding(0,
            9px,
            20px,
            9px);
            &--basic {
                grid-column: 2 / 3;
            }
            &--standard {
                grid-column: 3 / 4;
                background-color: $grey-light;
            }
            &--plus {
                grid-column: 4 / 5;
            }
            &__btn {
                @include margin(0,
                0,
                40px,
                0);
                @include flight-package-prices__btn;
            }
            .flight-package-details {
                &__title {
                    font-size: $extra-small;
                    font-weight: 900;
                    color: $font;
                    @include text-transform(y);
                    @include margin(0,
                    0,
                    0,
                    0);
                }
                &__list {
                    font-size: $small;
                    list-style-type: disc;
                    @include padding(0,
                    0,
                    0,
                    16px);
                    &-item {
                        display: list-item;
                        @include margin(10px,
                        0,
                        0,
                        0);
                    }
                }
            }
        }
    }
    .additional-info {
        position: relative;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid $grey-light;
        @include padding(0,
        20px,
        0,
        20px);
        @include text-transform(y);
        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 100%;
            margin-left: -14px;
            width: 0;
            height: 0;
            border-top: solid 14px $white;
            border-left: solid 14px transparent;
            border-right: solid 14px transparent;
        }
        &__more-dates {
            color: $font;
            font-size: $small;
            font-weight: 900;
        }
        &__calendar,
        &__chart {
            color: $font;
            font-size: $extra-small;
            font-weight: 900;
            text-decoration: none;
            transition: all .24s ease-in;
            &:hover {
                color: $pink-hover;
                text-decoration: underline;
            }
        }
        &__calendar {
            @include margin(0,
            8px,
            0,
            0);
            &--active {
                color: $pink-dark;
                text-decoration: underline;
            }
        }
        &__chart {
            &--active {
                color: $pink-dark;
                text-decoration: underline;
            }
            @include margin(0,
            0,
            0,
            8px);
        }
    }
    .flight-date {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $grey-dark;
        &__icon {
            @include padding(0,
            10px,
            0,
            10px);
        }
        &__available-day-list {
            display: flex;
            @include padding(40px,
            0,
            20px,
            0);
            &-item {
                height: 80px;
                border: 2px solid $grey-light;
                background-color: $white;
                cursor: pointer;
                @include border-radius(3px);
                @include padding(6px,
                6px,
                6px,
                6px);
                @include margin(0,
                2px,
                0,
                2px);
                &--selected-day {
                    border: 2px solid $pink-dark;
                }
                &--not-available-day{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                &__date {
                    font-size: $extra-small;
                    font-weight: 700;
                    white-space: nowrap;
                    @include text-transform(y);
                }
            }
        }
    }
}