.itinerary {
    grid-column: 1 / 2;
    grid-row: 2 / -1;
    background: transparent;
    .itinerary__details {
        position: relative;
        &:before {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            left: 0;
            bottom: -18px;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1147' height='9' viewBox='0 0 1147 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23C0C0C0' fill-rule='evenodd'%3E%3Cpath d='M565.428 1.282l.704-.73L573.6 7.81l-.705.73-7.467-7.258z'/%3E%3Cpath d='M572.968 8.548l-.75-.68L579.94.516l.75.68-7.722 7.352z'/%3E%3Cpath d='M1004.1 1.5h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm421.97 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zM720 1.5h-2.03v-1H720v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.027v1zm-4.058 0H580v-1h2.03v1zm-15.927 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-146.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.02v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0H44.74v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0H.1v-1h2.03v1zm421.97 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1z'/%3E%3C/g%3E%3C/svg%3E");
        }
        &:after {
            position: absolute;
            z-index: 10;
            display: block;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            content: "";
            bottom: -38px;
            left: calc(50% - 10px);
            border-top-color: $grey-dark;
        }
        &:after{
            position: absolute;
            z-index: 10;
            display: block;
            height: 10px;
            bottom: -46px;
            content: "";
            left: calc(50% - 10px);
            //background: url(dist/img/w-arrow-angle-down.svg);
        }
        @include margin(36px,0,36px,0);
        @include padding(0,21px,0,21px);
        &:first-child {
            @include margin(18px,
            0,
            36px,
            0);
        }
        .itinerary__sub-title {
            font-weight: 900;
            @include text-transform(y);
            @include margin(0,0,14px,0);
            &--default {
                color: $blue-dark;
            }
        }
        &-item {
            @include flex-space-between;
            font-size: $small;
            white-space: nowrap;
            &__sub-title {
                font-size: $small;
            }
            &__price {
                font-size: $small;
                line-height: 18px;
                color: $blue-dark;
            }
        }
    }
    .total-price {
        color: $white;
        font-size: $normal;
        font-weight: 600;
        background-color: $blue-dark-total;
        @include flex-space-between;
        @include padding(22px,
        18px,
        22px,
        18px);
        @include border-radius(5px);
        &__text {
            @include text-transform(y);
        }
        &__price {
            font-size: $large;
        }
    }
    .booking-payment {
        text-align: center;
        position: relative;
        @include text-transform(y);
        color: $blue-dark;
        font-weight: 900;
        @include padding(17px,
        0,
        17px,
        0);
        @include margin(0,
        0,
        0,
        0);
        &:after {
            position: absolute;
            width: 100%;
            content: "";
            height: 5px;
            bottom: 0;
            left: 0;
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='1147' height='9' viewBox='0 0 1147 9' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23C0C0C0' fill-rule='evenodd'%3E%3Cpath d='M565.428 1.282l.704-.73L573.6 7.81l-.705.73-7.467-7.258z'/%3E%3Cpath d='M572.968 8.548l-.75-.68L579.94.516l.75.68-7.722 7.352z'/%3E%3Cpath d='M1004.1 1.5h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm421.97 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zM720 1.5h-2.03v-1H720v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.027v1zm-4.058 0H580v-1h2.03v1zm-15.927 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-146.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.03 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.02v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0H44.74v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0H.1v-1h2.03v1zm421.97 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.028v-1h2.03v1zm-4.058 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.06 0h-2.028v-1h2.028v1zm-4.057 0h-2.03v-1h2.03v1zm-4.06 0h-2.027v-1h2.028v1zm-4.056 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.028v1zm-4.06 0h-2.028v-1h2.03v1zm-4.057 0h-2.028v-1h2.028v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1zm-4.058 0h-2.03v-1h2.03v1z'/%3E%3C/g%3E%3C/svg%3E");
        }
    }
    .discount-club-club-price {
        background-color: $white;
        @include margin(20px,
            0,
            0,
            0);
        @include border-radius(3px);
        &__inner {
            @include padding(17px,
            17px,
            0,
            17px);
        }
        &__sub-title {
            text-align: center;
            @include text-transform(y);
            font-size: $extra-small;
            font-weight: 900;
            color: $blue-dark;
            border-bottom: 1px solid $grey-light;
            @include margin(0,
            0,
            0,
            0);
            @include padding(0,
            0,
            10px,
            0);
        }
        &__total {
            font-size: $normal;
            font-weight: 600;
            &-text {
                @include text-transform(y);
                color: $blue-dark;
            }
            &-price {
                font-size: $large;
                @include text-transform(y);
                color: $blue-dark;
            }
        }
        &__original {
            font-size: $small;
            font-weight: 700;
            &-text {
                @include text-transform(y);
                color: $font-grey;
            }
            &-price {
                @include text-transform(y);
                color: $font-grey;
            }
        }
        &__details {
            @include padding(20px,
            0,
            20px,
            0);
            &__item {
                @include flex-space-between;
                @include margin(0,
                0,
                16px,
                0);
            }
        }
        &__cta {
            min-width: 100%;
            border: none;
            text-align: center;
            font-size: $normal;
            font-weight: 400;
            color: $white;
            background-color: $pink-dark;
            @include text-transform(y);
            @include padding(16px,
            0,
            16px,
            0);
            @include border-radius(3px);
            transition: all .24s ease-in;
            &:hover {
                background-color: $pink-light;
            }
        }
    }
}