body {
    background: $background url(../img/w-background.svg) no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    color: $font;
}

.main {
    display: grid;
    grid-column-gap: 30px;
    grid-template-columns: 222px 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-rows: auto;
    @include padding(0, 28px, 28px, 28px);
}