@media screen and (max-width: 1024px) {
    .header {
        font-size: $medium;
        .logo {
            @include margin(0, 0, 0, 0);
        }
        &__inner {
            justify-content: space-between;
        }
        .flight-short-info {
            @include margin(0, 0, 0, 0);
            &:first-child {
                @include margin(0, 0, 0, 30px);
            }
        }
    }
    .main {
        grid-template-columns: 1fr;
        grid-column-gap: 0;
        @include padding(0, 8px, 0, 8px);
        .booking-title {
            grid-column: 1 / -1;
            justify-content: center;
            &__title {
                font-size: $medium;
            }
        }
        .discount-club {
            grid-column: 1 / -1;
            grid-row: 2;
            @include padding(16px, 16px, 16px, 16px);
            &__cta {
                @include padding(9px, 28px, 9px, 28px);
            }
        }
        .flight-info {
            grid-column: 1 / -1;
            grid-row: 3;
            &__header {
                @include padding(0, 0, 0, 0);
            }
            &__flight-type {
                font-size: $small;
            }
            &__flight-details {
                font-size: $medium;
            }
        }
        .itinerary {
            grid-column: 1 / -1;
            grid-row: 4;
            &__details {
                justify-content: space-around;
                &-item {
                    font-size: $large;
                    &__price {
                        font-size: $large;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        &__inner {
            @include padding(5px, 8px, 5px, 8px);
        }
        .flight-short-info {
            &__city {
                font-size: $small;
            }
        }
        .flight-direction-icon {
            @include margin(0, 5px, 0, 5px);
        }
        .passengers {
            font-size: $small;
        }
    }
    .main {
        grid-column: 1 / -1;
        @include padding(0, 8px, 0, 8px);
        .booking-title{
            @include margin(25px,0,14px,0);
        }
        .flight-package-types {
            grid-template-columns: 1fr;
            grid-auto-rows: auto;
            .flight-package-header {
                grid-column: 1 / -1;
            }
            .flight-schedule {
                grid-column: 1 / -1;
                grid-auto-rows: auto;
                grid-row: 2;
                justify-content: space-around;
                flex-direction: row;
            }
            .flight-packages{
                grid-column: 1 / -1;
            }
        }
    }
}