@mixin padding($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
  }

  @mixin margin($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
  }

  @mixin border-radius($top, $right, $bottom, $left) {
   border-top-left-radius: $top;
    border-top-right-radius: $right;
    border-bottom-left-radius: $bottom;
    border-bottom-right-radius: $bottom;
  }

  @mixin flex-center {
      display:flex;
      justify-content: center;
      align-items: center;
  }

  @mixin flex-space-between {
      display:flex;
      justify-content: space-between;
  }

  @mixin text-transform($v) {
    @if $v == 'y' {
      text-transform: uppercase;
     }
  }

/*
  @mixin text-transform($v) {
    @if $v == 'cap' {
      text-transform: capitalize;
     }@else{
      text-transform: uppercase;
     }
  }
  */

  @mixin flight-package-types__details-item__btn--default{
    color: $font;
    font-size: 20px;
    font-weight: 900;
    background-color: $white;
    border: 2px solid $pink-dark;
    outline: none;
    width: 100%;
    @include padding(16px,0,16px,0);
    @include border-radius(3px,3px,3px,3px);
    transition: all .24s ease-in;
    &:hover{
      background-color: $pink-dark;
      color: $white;
    }
  }